/* MAIN LAYOUT */
:root {
	--content-max-width: 1000px;
	--content-width: 1000px;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	font-family: Sans-Serif;
}

body * {
	box-sizing: border-box;
}

/* NEUMORPHISM */

:root {
  --color-panel: #CADADE;
  --color-panel-interest: #000;
  --color-fg: #333;
  --color-fg-interest: #EEE;
  --color-fg-acc: #25F;
  --color-shadow-light: rgba(255, 255, 255, 0.8);
  --color-shadow-dark: rgba(90, 90, 90, 0.8);
}

$color-danger-1: rgba(0, 0, 0, 0);
$color-danger-2: rgba(255, 0, 0, 1);
$color-info-1: rgba(0, 0, 0, 0);
$color-info-2: rgba(0, 166, 214, 1);
$color-seealso-1: rgba(0, 0, 0, 0);
$color-seealso-2: rgba(0, 214, 70, 1);
$color-workinprogress-1: rgba(0, 0, 0, 1);
$color-workinprogress-2: rgba(255, 255, 0, 1);
$bricksize: 1.2em;

.pad>* {
	margin: 15px;
}

.pad {
	padding: 5px;
}

.panel {
	@extend .pad;
	background-color: var(--color-panel);
	border-radius: 10px;
}

.convex {
	box-shadow: 5px 5px 6px var(--color-shadow-dark), -4px -4px 6px var(--color-shadow-light);
}

.concave {
	box-shadow: inset -5px -5px 6px -1px var(--color-shadow-light), inset 3px 3px 8px -1px var(--color-shadow-dark);
}

/* STYLING */

body {
	background-color: var(--color-panel);
}


#content {
	@extend .panel;
	@extend .convex;
	width: var(--content-width);
	max-width: var(--content-max-width);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 30px;
	margin-bottom: 50px;
}

.raimark-rendered-code {
	display: flex;
	gap: 15px;
	align-items: stretch;
    flex-wrap: wrap;
}

.raimark-rendered-code>* {
    flex-grow: 1;
}

.highlight {
	// needed to actually stretch the code block
	height: 100%;
}

.highlight {
	@extend .concave;
	@extend .panel;
	//background-color: black;
}

.raimark-output {
	@extend .concave;
	@extend .panel;
}

/*
.raimark-output-block {
	border-bottom: 1px solid black;
}

.raimark-output-block:last-child {
	border-bottom: none;
}
*/

.raimark-output-block svg {
    display: block;
}

.raimark-code, .raimark-output {
	// needed for the css block below.
	// without this, the `after` just goes to
	// the top right of the entire page.
	position: relative;
}
.raimark-code > .panel, .raimark-output > .panel {
    // avoid overlapping the top right label with text
    padding-right: 50px;
}

.raimark-code::after, .raimark-output::after {
	position: absolute;
	top: 0px;
	right: 0px;

	background-color: var(--color-panel);
	padding: 10px;
	padding-right: 20px;
	border-radius: 0px 0px 00px 10px;
	// the actual shadow is the last entry.
	// the first two entries patch up any leaking shadow.
	box-shadow: 0px -6px 0px var(--color-panel), 6px -0px 0px var(--color-panel), -3px 3px 6px var(--color-shadow-dark);
}

.raimark-code::after {
	content: "Code";
}

.raimark-output::after {
	content: "Output";
}

.hidden {
    display: none;
}

table {
	@extend .panel;
	@extend .convex;
	padding: 0px;
}

th, td {
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

th:last-child, td:last-child {
}

thead {
}

th {
	background-color: gray;
}

tr:nth-child(2n + 0){
	background-color: gray;
}

thead > tr > th:first-child {
	border-radius: 10px 0px 0px 0px;
}

thead > tr > th:last-child {
	border-radius: 0px 10px 0px 0px;
}

tbody > tr:last-child > td:first-child {
	border-radius: 0px 0px 0px 10px;
}

tbody > tr:last-child > td:last-child {
	border-radius: 0px 0px 10px 0px;
}

@mixin blockquote-before {
	content: "";
	display: block;
	width: 20px;
	height: 100%;
	float: left;
}

@mixin stripes($color1, $color2, $angle) {
	background: repeating-linear-gradient(
		$angle,
		$color1,
		$color1 10px,
		$color2 10px,
		$color2 20px
	);
}


blockquote {
	//border-left: 5px solid black;
	//padding-left: 15px;
	//border-radius: 10px 10px 10px 10px;

	& > * {
		margin-left: 40px;
	}

	&.danger::before {
		@include blockquote-before;
		@include stripes($color-danger-1, $color-danger-2, 45deg);
	}

	&.info::before {
		@include blockquote-before;
		background: $color-info-2;
	}

	&.seealso::before {
		@include blockquote-before;
		background: $color-seealso-2;
	}

	&.workinprogress::before {
		@include blockquote-before;
		@include stripes($color-workinprogress-1, $color-workinprogress-2, 45deg);
	}
}


/*
blockquote > p::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../img/common/callouts/danger.svg');
    background-size: contain;
}
*/

.deemphasis {
    color: gray;
}

h1, h2, h3, h4 {
	&::before {
		content: " ";
		display: inline-block;
		width: $bricksize;
		height: $bricksize;
		background-color: black;
		margin-right: 5px;
	}
}

